<!--The content below is only a placeholder and can be replaced.-->




<div class="clearfix"></div>
<div class="container mycontainer">

    <ul class="list-inline">

      <li *ngFor="let fk of forecast_keys" class="col-md-6">
        <div *ngIf="fk != 'id' && fk != 'owner' && fk != 'SalePrice'" class="form-group">
          <label>{{forecast[fk].desc}}</label>
          <input [(ngModel)]="forecastModel[fk]" placeholder="{{forecastModel[fk]}}" class="form-control">
        </div>
      </li>

      <li class="col-md-12 text-center">
    <br>
        <button class="btn btn-primary btn-lg"
      (click)="openModal(template,forecast)">Calculate</button>
      </li>
    </ul>

</div>
<div class="clearfix">&nbsp;</div>


<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Evaluating...</h4> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center" *ngIf="!forecasted">
      <img src="../assets/img/preloader.gif" >
      <h2>Calculating... </h2>
    </div>

    <div class="text-center" *ngIf="forecasted">
      <h2>Estimated price of this house is: </h2>
      <h2> {{forecastedVal | currency}} </h2>
    </div>

  </div>
</ng-template>
