<!--==========================
Hero Section
============================-->

<header>
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">


        <h1>Evaluate Your Home</h1>
        <h2>Machine learning empowered app with model trained with data of 1460 houses.</h2>
        <div class="actions">
          <a (click)="scrollToForm()" class="btn-get-started btn-gray"> <i class="fa fa-chevron-down" aria-hidden="true"></i> Get Strated </a>
        </div>
      </div>
    </div>
  </section>
</header>

<section id="about">

<div class="clearfix"></div>
<div class="container mycontainer">

    <ul class="list-inline">

      <li *ngFor="let fk of forecast_keys" class="col-md-6">

        <div *ngIf="fk != 'id' && fk != 'owner' && fk != 'SalePrice' && hasMeta(metas,fk)" class="form-group">
          <label>{{forecast[fk].desc}} </label>
          <select class="form-control" [(ngModel)]="forecastModel[fk]">
             <option *ngFor="let val of toArray(findMeta(metas,fk).meta_val)" [value]="val" [selected]="forecastModel[fk] === val">{{val}}</option>
          </select>
        </div>

        <div *ngIf="fk != 'id' && fk != 'owner' && fk != 'SalePrice' && !hasMeta(metas,fk)" class="form-group">
          <label>{{forecast[fk].desc}}</label>
          <input [(ngModel)]="forecastModel[fk]" placeholder="{{forecastModel[fk]}}" class="form-control">
        </div>
      </li>

      <li class="col-md-12 text-center">
    <br>
        <button class="btn btn-gray btn-lg btn-block"
      (click)="openModal(template,forecastModel)">Calculate</button>
      </li>
    </ul>

</div>
<div class="clearfix">&nbsp;</div>


<ng-template #template >
  <div class="modal-header" style="background: #101010; color: white;">
    <h4 class="modal-title pull-left">Estimated price of this house is:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" style="color:white;">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 300px;">
    <div class="text-center" *ngIf="!forecasted">
      <img src="../assets/img/preloader.gif" >
      <h2>Calculating... </h2>
    </div>

    <div class="text-center" *ngIf="forecasted">
      <br><br><br>
      <h1 style="font-size: 460%;"> <strong>{{forecastedVal | currency}} </strong></h1>
    </div>

  </div>
</ng-template>

</section>


<!--==========================
Footer
============================-->
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Digitegra </strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Bootstrap Themes by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
</footer><!-- #footer -->
